speech_recognition
tkinter
itertools
nltk
sklearn
numpy
kivy
pyttsx3
sys
urllib.request
smtplib
requests
subprocess
BeautifulSoup
wikipedia
wolframalpha
ctypes
datetime
time
webbrowser
PIL
os 
re
math
string
io
warnings
random